.AppinmentWrapper {
    background: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url("../../../../public/bg.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100%;
    /* height: 90vh; */

    @apply  md:h-[100%]    sm:h-[100%] lg:h-[90%] pb-10
}